
$red:#ff003b;
$dark-blue:#0f131a;



body{
	background-color: grey;
	//overflow:hidden;
}


#container{
	padding:2em;
}

#header{
	overflow:auto;
	background-color:$red;
	color:#fff;
	padding:2em;
	z-index:50;
	// position: fixed;
	// top:0;
	display:block;
	width:100%;
	overflow:hidden;
	height:100px;

	.about{
		float: left;
		clear: left;
		margin-top: 100px;
	}
	.logo{
		font-size: 2em;
		float: left;
	}
	ul{
		list-style-type: none;
		float: right;
		padding-right: 50px;
		display: block;
		margin-top: -80px;
	}
	li{

		padding: 0;
		padding-right: 0.8em;
		margin:0;
		display: inline-block;
		text-transform: uppercase;

		a{
			display: block;
			padding:1.5em;
			
			text-decoration: none;
			color: #fff;
			
			&:hover{
				background-color: darken($red,20);
			}
		}
	}
}

#main{
	//margin-top:130px;
	color:pink;
}
.menu-item{
	position: relative;
	top:15px;
	z-index:20;
	display:block;
	width:400px;
	float:left;
	background-color:black;
	.banner{
		img{
			width: auto;
			height: 100%;
		}
		height: 240px;
		overflow: hidden
	}
}

#footer{
	background-color:$dark-blue;
	position: fixed;
	bottom:0;
	z-index:100;
	height:80px;
	width: 100%;
	display: block;
}